body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("gif/giphy.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#arena {
  position: relative;

  width: 1000px;
  height: 600px;

  margin-top: 20px;

  border: 4px solid white;
  overflow: hidden;
}

#catchMeButton {
  position: absolute;

  left: 250px;
  top: 300px;

  width: 200px;
  height: 100px;

  font-size: 24px;
  color: white;

  background: linear-gradient(to bottom, purple, black);
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 10px gray;
  cursor: pointer;

  transition: 0.3s;
}

#score,
#highScoreText {
  color: white;
  font-size: 24px;
  margin: 10px 0;
}

#back {
  display: block;

  width: 200px;
  height: 60px;

  margin: 20px auto;

  font-size: 24px;
  color: white;
  text-align: center;
  line-height: 60px;
  text-decoration: none;

  background: linear-gradient(to left, blue, white);
  border-radius: 15px;
  box-shadow: 5px 5px 10px gray;

  transition: 0.3s;
}

#back:hover,
#catchMeButton:hover {
  transform: scale(1.05);
}

